services:
  - type: web
    name: simplytrade
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn backend.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
    staticPublishPath: ./public
    routes:
      - type: rewrite
        source: /api/*
        destination: /api/:splat
      - type: rewrite
        source: /*
        destination: /index.html
